@tailwind base;
@tailwind components;
@tailwind utilities;

.customWidth {
  width: 100%;
  max-width: 1320px;
  margin: 0px auto !important;
  padding: 0px !important;
  overflow: hidden;
}

.primaryBg {
  background: #0a1e2d;
}
.PrimaryText {
  color: #0a1e2d;
}
.ButtonText {
  color: #ff8c42;
}
.ButtonBg {
  background: #c1c7d0;
}
