@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.PrimaryBg {
  background: #f5f5dc (Ivory);
}
.PrimaryText {
  color: #2f4f4f;
}
.Button {
  background-color: #8fbc8f;
}
.ButtonText {
  color: #c2b280;
}

.customWidth {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  overflow: hidden;
}
.pointer-events-auto {
  top: 88px !important;
}
