@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.customWidth {
  width: 100%;
  max-width: 1320px;
  margin: 0px auto !important;
  padding: 0px !important;
  overflow: hidden;
}
.pointer-events-auto {
  top: 84px !important;
}

.primaryBg {
  background: #0a1e2d;
}
.PrimaryText {
  color: #0a1e2d;
}
.ButtonText {
  color: #ff8c42;
}
.ButtonBg {
  background: #c1c7d0;
}
